# Node module ignore

node_modules
yarn.lock
package-lock.json

# Playwright artifact

test-results/
playwright-report/

.env


logs

#ignore storge_state

storage_state

#ignore allure Report
allure-results/
playwright-report/ 
allure-results/
allure-report/


#results
results/
trace
package-lock.json
yarn.lock

#IDE
.idea/
zerostep.config.json
